:host {
  display: block;
  position: relative;
  max-width: 300px;
  .mat-list-item {
    max-width: 200px;
  }
  .busy-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #FFF;
    opacity: .8;
    z-index: 1111;
  }
  h3, h4, h5 {
    text-align: center;
    margin: .5rem 0 0;
    &.complete {
      opacity: .5;
    }
  }
}

.mat-form-field {
  padding: 0 4px;
}
