$fa-font-path: '../../assets/fonts';

body {
  margin: 0;
}
@import './theme.scss';
@import './styles/fontawesome/fontawesome';
@import './styles/fontawesome/duotone';
@import './styles/fontawesome/brands';

.show-notes {
  .show-notes--body.mat-body-1 {
    img {
      max-width: 200px;
      max-height: 200px;
    }
    ul li p {
      margin: 0;
      &:not(:first-child) {
        margin-left: 1rem;
      }

    }
  }
}

app-topic-suggestions .mat-list[dense] .mat-list-item .mat-list-item-content {
  padding-right: 4px;
}

app-topic-suggestions .mat-list[dense].complete {
  opacity: .5;
}
