
body {
  margin: 0;
}
//@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import './theme.scss';

.show-notes {
  .show-notes--body.mat-body-1 {
    img {
      max-width: 200px;
      max-height: 200px;
    }
    ul li p {
      margin: 0;
      &:not(:first-child) {
        margin-left: 1rem;
      }

    }
  }
}

app-topic-suggestions .mat-list[dense] .mat-list-item .mat-list-item-content {
  padding-right: 4px;
}
