
body {
  margin: 0;
}
//@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import './theme.scss';

.show-notes {
  .show-notes--body.mat-body-1 {
    ul li p {
      margin: 0;
      &:not(:first-child) {
        margin-left: 1rem;
      }
    }
  }
}
