.main {
    margin: 0 auto;
    padding-bottom: 50%;
    text-align: center;
    position: relative;
}

.main__logo {
    top: 25%;
    left: 25%;
    width: 50%;
    animation: float 6s ease-in-out infinite;
    position: absolute;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-15px);
	}
	100% {
		transform: translatey(0px);
	}
}