@import "~@angular/material/theming";
@import '../theme';

.main {
    margin: 0 auto;
    padding-bottom: 50%;
    text-align: center;
    position: relative;
}

.main__logo {
    //top: 25%;
    //left: 25%;
    //width: 50%;
    animation: float 6s ease-in-out infinite;
    //position: absolute;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-15px);
	}
	100% {
		transform: translatey(0px);
	}
}

mat-toolbar {
  .main__logo {
    margin-top: 10px;
    max-width: 75px;
  }
  .social-links {
    fa-icon {
      font-size: 1.3em;
    }
    a, button {
      padding: 0 8px;
    }
  }

  button.button--account {
    color: mat-color($mat-deep-purple, 300);
  }
}
