@import "~@angular/material/theming";
@import '../../../theme';


:host {
  header {
    margin-bottom: 2rem;
    display: block;
    h3 {
      margin-top: 1rem;
      margin-bottom: .25rem;
    }
    h3, h4 {
      text-align: center;
    }

  }

  .main__logo {
    width: 300px;
    max-width: 70vw;
    margin: 0 auto;
    animation: float 6s ease-in-out infinite;
    display: block;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-15px);
  }
  100% {
    transform: translatey(0px);
  }
}
